html {
    background-color: #5cbcf6;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#content2 {
  margin-bottom: 20px;
}

.row.header {
    padding: 25px 0;
}

#confetti{
    background: #5CBCF6;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
}

h3.step-header {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

h2.welcome {
  border-bottom: 1px dotted #dadada;
  padding: 0 15px 15px 15px;
  margin-bottom: 30px;
  margin-top: 0;
}

.container table {
    width: auto;
}

.steps-wrapper {
    float: right;
}

.steps-wrapper .step {
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    float: left;
    border: 1px solid #fff;
    text-align: center;
    height: 50px;
    width: 55px;
    font-size: 28px;
    padding-top: 10px;
    margin-left: 85px;
}

.steps-wrapper .step.active {
    background: #fff;
    color: #5cbcf6;
}

ul .fa-check-circle-o, ul.fa-exclamation-circle {
    margin-right: 15px;
}

.ok {
    color: #73af00;
    font-size: 18px;
}

.error {
    color: #b43c01;
    font-size: 18px;
}

.input-group-addon.fixed-addon {
    width: 150px;
    text-align: right;
}

#content2 .panel .table {
    margin-bottom: 0;
}

.backend-wrapper.container {
    margin: 0 auto;
    padding: 50px 15px 20px;
}

.page-header h4 {
    margin-left: 8px;
}